<link rel="import" href="/lib/core-ajax/core-ajax.html">

<link rel="import" href="/lib/paper-button/paper-button.html">
<link rel="import" href="/lib/paper-dialog/paper-dialog.html">
<link rel="import" href="/lib/paper-dialog/paper-dialog-transition.html">
<link rel="import" href="/lib/paper-spinner/paper-spinner.html">
<link rel="import" href="/lib/paper-fab/paper-fab.html">

<polymer-element name="ct-profile-dialog">
	<template>
		<style>

		</style>
		<core-ajax id="request"
				 url="/models/getClientProfileModel"
				 method="POST"
				 handleAs="json"
				 body="{{params}}"
				 on-core-response="{{requestResponse}}"></core-ajax>

		<paper-dialog id="dialog" heading="Profile" transition="paper-dialog-transition-bottom" backdrop="true" layered="true">
			<style>
				#profileImage {
					width: 128px;
					height: 128px;
					border-radius: 64px;
					margin-top: 25px;
				}
				#username {
					font-size: 20px;
					text-align: center;
					margin-top: 25px;
					font-weight: bold;
				}
				.popupContent {
					min-width: 300px;
				}
			</style>
			<link rel="stylesheet" type="text/css" href="/components/pages/ct-page-common.css">
			<div class="popupContent" vertical layout center>
				<template if="{{model === null}}">
					<paper-spinner active></paper-spinner>
				</template>
				<template if="{{model !== null}}">
					<img id="profileImage" src="{{model.ProfileImage}}"/>
					<div id="username">{{model.Username}}</div>
				</template>
			</div>
			<paper-button class="primary" on-tap="{{close}}" affirmative autofocus>Close</paper-button>
		</paper-dialog>
	</template>
	<script>
		Polymer('ct-profile-dialog', {
			model: null,
			show: function(clientId) {
				this.model = null;
				this.$.dialog.toggle();
				this.params = JSON.stringify({
					ClientId: clientId
				});
				this.$.request.go();
			},
			close: function() {
				this.$.dialog.toggle();
			},
			requestResponse: function(event) {
				var response = event.detail.response;
				this.model = response.Model;
			}
		});
	</script>
</polymer-element>