<link rel="import" href="../lib/core-icons/core-icons.html">
<link rel="import" href="../lib/paper-fab/paper-fab.html">
<link rel="import" href="../lib/paper-input/paper-input.html">
<link rel="import" href="../services/ct-msg-service.html">

<polymer-element name="ct-send-box" attributes="sender">

	<template>
		<ct-msg-service user="{{user}}" id="ctMsgService"></ct-msg-service>

		<div class="sendBox" horizontal layout>
      		<paper-input id="tbMessage" multiline rows="{{rows}}" label="{{label}}" on-input="{{onInput}}" on-keypress="{{onKeypress}}" flex></paper-input>
      		<div layout horizontal center>
      			<paper-fab id="btnSend" class="mini" icon="arrow-forward" on-tap="{{sendMessage}}" disabled="{{sendDisabled}}"></paper-fab>
      		</div>
      	</div>
	</template>
	<script>
		Polymer('ct-send-box', {
			publish: {
				label: '',
				rows: 3
			},

			sendDisabled: true,

			sendMessage: function() {
				var msg = this.$.tbMessage.inputValue;
				this.$.ctMsgService.sendMessage(msg);
				this.$.tbMessage.inputValue = '';
			},

			onInput: function() {
				this.sendDisabled = this.$.tbMessage.value.length === 0;
			},

			onKeypress: function(event) {
				//Enter
				if(event.keyCode === 13 && !event.shiftKey) {
					event.preventDefault();
					if(!this.sendDisabled) {
						this.sendMessage();
						this.onInput();
					}
				}
			}
		});
	</script>

</polymer-element>