core-header-panel {
  height: 100%;
}

paper-item {
  color: #000;
}

paper-menu-button {
  margin-left: 50px;
  margin-rigth: 30px;
}

core-toolbar.theme {
  color: #fff;
  background-color: #0089BB;
}

core-header-panel[drawer] {
  background-color: #fff;
}

core-toolbar .title {
  padding-left: 15px;
}

.container {
  width: 80%;
  margin: 50px auto;
}

@media (max-width: 480px) {
  paper-tabs {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
  }
}

@media (min-width: 481px) {
  paper-tabs {
    min-width: 300px;
  }
}

@media (min-width: 930px) {
  .container {
    width: 600px;
  }
}

