<link rel="import" href="/lib/paper-input/paper-input.html">
<link rel="import" href="/lib/paper-button/paper-button.html">
<link rel="import" href="/lib/paper-toast/paper-toast.html">
<link rel="import" href="/lib/paper-tabs/paper-tabs.html">
<link rel="import" href="/lib/paper-spinner/paper-spinner.html">
<link rel="import" href="/lib/core-pages/core-pages.html">

<link rel="import" href="/services/ct-auth-service.html">
<link rel="import" href="/components/ct-module.html">

<polymer-element name="ct-page-home" extends="ct-module">
    <template>
    <link rel="stylesheet" type="text/css" href="/components/pages/ct-page-common.css">
    <style>
      paper-input {
        width: 100%;
      }
      paper-button {
        margin-left: 10px;
      }
      paper-tabs.inverse {
        background-color: transparent;
        color: #0089BB;
        box-shadow: none;
        font-size: 18px;
        width: 100%;
      }
      paper-tabs.inverse::shadow #selectionBar {
        background-color: #0089BB;
      }
      paper-tabs.inverse paper-tab::shadow #ink {
        color: #0089BB;
      }

      paper-spinner {
        margin-right: 20px;
      }

      #switchRegister, #switchLogin {
        margin-right: 20px;
      }
    </style>

    <ct-auth-service id="authService" on-ct-login="{{login}}" on-ct-register="{{register}}"></ct-auth-service>
      <core-pages selected="{{selected}}" valueattr="value">
        <div value="login">
          <div class="card wide" on-keypress="{{onKeypress}}">
            <div class="header">
              <div class="title">
                Welcome
              </div>
            </div>
            <div class="content">
              <paper-input id="lUsername" label="Username" value="{{lUsername}}" autofocus floatingLabel flex></paper-input>
              <paper-input id="lPassword" label="Password" type="password" value="{{lPassword}}" floatingLabel></paper-input>
              <div class="buttons" flex horizontal end-justified layout>
                <paper-button id="switchRegister" label="Register" on-tap="{{switchRegister}}"></paper-button>
                <template if="{{loading}}">
                  <paper-spinner active self-center></paper-spinner>
                </template>
                <paper-button id="loginSubmit" raisedButton class="primary" label="Login" on-tap="{{loginSubmit}}"></paper-button>
              </div>
            </div>
          </div>
        </div>
        <div value="register">
          <div class="card wide" on-keypress="{{onKeypress}}">
            <div class="header">
              <div class="title">
                  Welcome
              </div>
            </div>
            <div class="content">
              <paper-input id="rUsername" label="Username" error="Username must be at least 6 charaters long." maxlength="40" value="{{rUsername}}" flex></paper-input>
              <paper-input id="rPassword" label="Password" error="Password must be at least 6 charaters long." maxlength="40" type="password" value="{{rPassword}}"></paper-input>
              <paper-input id="passwordRepeat" label="Repeat password" error="Passwords don't match." maxlength="40" type="password" value="{{passwordRepeat}}"></paper-input>
              <paper-input id="firstName" label="First name" error="Please enter your first name." maxlength="40" value="{{firstName}}"></paper-input>
              <paper-input id="lastName" label="Last name" error="Please enter your last name." maxlength="40" value="{{lastName}}"></paper-input>
              <paper-input id="email" label="Email" type="email" maxlength="40" value="{{email}}"></paper-input>
              <div class="buttons" flex horizontal end-justified layout>
                <paper-button id="switchLogin" label="Login" on-tap="{{switchLogin}}"></paper-button>
                <template if="{{loading}}">
                  <paper-spinner active self-center></paper-spinner>
                </template>
                <paper-button id="registerSubmit" raisedButton class="primary" label="Register" on-tap="{{registerSubmit}}"></paper-button>
              </div>
            </div>
          </div>
        </div>
      </core-pages>
    <div flex vertical layout center>
      <paper-toast id="toast" class="capsule"></paper-toast>
    </div>
  </template>
  <script>
    Polymer('ct-page-home', {
      ready: function() {
        this.selected = "login";
        this.loading = false;
      },
      loginSubmit: function() {
        this.loading = true;
        this.$.loginSubmit.setAttribute('disabled', true);
        this.$.authService.login(this.lUsername, this.lPassword);
      },
      login: function(event) {
          var response = event.detail;
          this.loading = false;
          this.$.loginSubmit.removeAttribute('disabled');
          if(response.result) {
            this.nav.route = 'home';
            this.lUsername = '';
          } else {
            //show error message
            if(this.lPassword === '' && this.lUsername === '') {
              this.$.toast.text = 'Please enter your username and password';
              this.$.lUsername.focus();
            } else if(this.lPassword === '') {
              this.$.toast.text = 'Please enter your password';
              this.$.lPassword.focus();
            } else if(this.lUsername === '') {
              this.$.toast.text = 'Please enter your username';
              this.$.lUsername.focus();
            } else {
              this.$.toast.text = 'Invalid username or password';
              this.$.lPassword.focus();
            }
            this.$.toast.show();
          }
          this.lPassword = '';
      },
      registerSubmit: function() {
        //validate fields
        var invalid = false;

        this.$.rUsername.invalid = false;
        this.$.rPassword.invalid = false;
        this.$.passwordRepeat.invalid = false;
        this.$.firstName.invalid = false;
        this.$.lastName.invalid = false;

        if(this.rUsername.length < 6) {
            this.$.rUsername.invalid = true;
            invalid = true;
        }

        if(this.rPassword.length < 6) {
            this.$.rPassword.invalid = true;
            invalid = true;
        }

        if(this.passwordRepeat.length < 1) {
            this.$.passwordRepeat.invalid = true;
            invalid = true;
        }

        if(this.firstName.length < 1) {
            this.$.firstName.invalid = true;
            invalid = true;
        }

        if(this.lastName.length < 1) {
            this.$.lastName.invalid = true;
            invalid = true;
        }

        if(this.email.length < 1) {
            this.$.email.invalid = true;
            invalid = true;
        }

        if(this.rPassword !== this.passwordRepeat) {
            this.$.passwordRepeat.invalid = true;
            invalid = true;
        }

        if(!invalid) {
          this.loading = true;
          this.$.registerSubmit.setAttribute('disabled', true);
          this.$.authService.register(this.rUsername, this.rPassword, this.firstName, this.lastName, this.email);
        }
      },
      register: function(event) {
        var response = event.detail;
        this.loading = false;
        this.$.registerSubmit.removeAttribute('disabled');
        if(response.result) {
          this.nav.route = 'home'
          this.$.rUsername.invalid = false;
          this.$.rPassword.invalid = false;
          this.$.passwordRepeat.invalid = false;
          this.$.firstName.invalid = false;
          this.$.lastName.invalid = false;
          this.$.email.invalid = false;
          this.$.rUsername.value = '';
          this.$.rPassword.value = '';
          this.$.passwordRepeat.value = '';
          this.$.firstName.value = '';
          this.$.lastName.value = '';
          this.$.email.value = '';
        } else {
          this.$.toast.text = response.error;
          this.$.toast.show();
        }
      },
      switchLogin: function() {
        this.selected = 'login';
        this.scrollToTop();
      },
      switchRegister: function() {
        this.selected = 'register';
        this.scrollToTop();
      },
      onKeypress: function(event) {
        //Enter
        if(event.keyCode === 13) {
          event.target.blur();
          event.preventDefault();
          if(this.selected === "login") {
            this.loginSubmit();
          } else {
            this.registerSubmit();
          }
        }
      }
    });
  </script>
</polymer-element>