<link rel="import" href="/lib/paper-button/paper-button.html">

<link rel="import" href="/services/ct-auth-service.html">

<link rel="import" href="/components/ct-loading.html">
<link rel="import" href="/components/ct-module.html">

<polymer-element name="ct-page-home" extends="ct-module">
  <template>
    <link rel="stylesheet" type="text/css" href="/components/pages/ct-page-common.css">
    <style></style>
    <ct-auth-service id="service"></ct-auth-service>
    <div class="card wide">
      <h2>Welcome home!</h2>
      <!--<ct-loading></ct-loading>-->
    </div>
  </template>
  <script>
        Polymer('ct-page-home', {
        });
    </script>
</polymer-element>