<!--
Import all pages for the app
-->

<link rel="import" href="ct-page-home.html">
<link rel="import" href="ct-page-chat.html">
<link rel="import" href="ct-page-login.html">
<link rel="import" href="ct-page-register.html">
<link rel="import" href="ct-page-profile.html">
<link rel="import" href="ct-page-help.html">
<link rel="import" href="ct-page-error.html">
<link rel="import" href="ct-page-settings.html">
<link rel="import" href="ct-page-feedback.html">

<link rel="import" href="ct-sidebar-home.html">
<link rel="import" href="ct-sidebar-chat.html">