<link rel="import" href="/lib/paper-input/paper-input.html">
<link rel="import" href="/lib/paper-button/paper-button.html">
<link rel="import" href="/lib/paper-toast/paper-toast.html">

<link rel="import" href="/services/ct-auth-service.html">
<link rel="import" href="/components/ct-module.html">

<polymer-element name="ct-page-login" extends="ct-module">
	<template>
		<link rel="stylesheet" type="text/css" href="/components/pages/ct-page-common.css">
		<style>
			.primary {
    			color: #fff;
    			background-color: #03a9f4;
    		}
    		paper-input {
    			width: 100%;
    		}
    		paper-button {
    			margin-left: 10px;
    		}
		</style>

		<ct-auth-service id="authService" on-ct-login="{{login}}"></ct-auth-service>
		<div class="card wide">
			<h2>Login</h2>
			<div on-keypress="{{onKeypress}}">
				<paper-input id="username" label="Username" value="{{username}}" autofocus floatingLabel flex></paper-input>
				<paper-input id="password" label="Password" type="password" value="{{password}}" floatingLabel></paper-input>
				<div class="buttons" flex horizontal end-justified layout>
					<paper-button raisedButton class="primary" label="Login" on-tap="{{submit}}"></paper-button>
				</div>
			</div>
		</div>
		<div flex vertical layout center>
			<paper-toast id="toast" class="capsule" on-focus="{{fixFocus}}"></paper-toast>
		</div>
	</template>
	<script>
		Polymer('ct-page-login', {
			submit: function() {
				this.$.authService.login(this.username, this.password);
			},
			login: function(event) {
			   	var response = event.detail;
			   	if(response.result) {
			    	this.nav.route = 'home';
			    	this.username = '';
			    } else {
			    	//show error message
			    	if(this.password === '' && this.username === '') {
			    		this.$.toast.text = 'Please enter your username and password';
			    		this.$.username.focus();
			    	} else if(this.password === '') {
			    		this.$.toast.text = 'Please enter your password';
			    		this.$.password.focus();
			    	} else if(this.username === '') {
			    		this.$.toast.text = 'Please enter your username';
			    		this.$.username.focus();
			    	} else {
			    		this.$.toast.text = 'Invalid username or password';
			    		this.$.password.focus();
			    	}
			    	this.$.toast.show();
			    }
			    this.password = '';
			},
			onKeypress: function(event) {
				//Enter
				if(event.keyCode === 13) {
					event.preventDefault();
					event.target.blur();
					this.submit();
				}
			},
			//Hack to fix the fact that inputs lose focus when showing a toast
			fixFocus: function(event) {
				setTimeout(function() {
					event.relatedTarget.focus();
				}, 10);
			}
		});
  	</script>
</polymer-element>