<link rel="import" href="/components/ct-send-box.html">
<link rel="import" href="/components/ct-message-list.html">
<link rel="import" href="/components/ct-module.html">
<link rel="import" href="/services/ct-msg-service.html">

<polymer-element name="ct-page-chat" extends="ct-module">
	<template>
		<ct-message-list></ct-message-list>
		<ct-send-box id="sendBox" label="Send message!" sender="{{user.UserName}}"></ct-send-box>
	</template>
	<script>
		Polymer('ct-page-chat', {

		});
  	</script>
</polymer-element>