/* Cards */
.card.wide {
	width: 100%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	border-radius: 2px;
	margin-bottom: 30px;
}

.card {
	background-color: #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.card h2 {
	margin-top: 0px;
}

.card .buttons {
	margin-top: 20px;
}

.card .header {
	background-color: #FFFF8D;
	border-bottom: solid 1px #eee;
}

.card .header .title {
	padding: 12px 25px 12px 25px;
	color: #006589;
	font-size: 22px;
	font-weight: bold;
}

.card .content {
	padding: 20px 25px;
}

/* Styles */
paper-button[raised].primary {
	color: #fff;
	background-color: #0089BB;
}
paper-button.primary {
	color: #0089BB;
}

/* Controls */
paper-input::shadow .focused-underline {
	background-color: #006589;
}