<link rel="import" href="/lib/core-pages/core-pages.html">

<link rel="import" href="/components/ct-module.html">

<polymer-element name="ct-page-error" extends="ct-module">
	<template>
		<link rel="stylesheet" type="text/css" href="/components/pages/ct-page-common.css">
		<style></style>

		<div class="card wide" on-keypress="{{onKeypress}}">
			<div class="header">
				<div class="title">Error</div>
			</div>
			<div class="content">Page not found</div>
		</div>
	</template>
	<script>
    Polymer('ct-page-error', {

    });
  </script>
</polymer-element>