<link rel="import" href="/lib/core-item/core-item.html">
<link rel="import" href="/lib/core-menu/core-menu.html">
<link rel="import" href="/lib/core-icons/core-icons.html">
<link rel="import" href="/lib/core-icons/social-icons.html">

<polymer-element name="ct-sidebar-home" attributes="route user">
  <template>
	<style>

	</style>

	<core-menu selected="{{route}}" valueattr="hash">
	  	<template if="{{user.logged}}">
			<core-item hash="home/profile" label="Profile" icon="account-box"></core-item>
			<core-item hash="home/settings" label="Settings" icon="settings"></core-item>
			<core-item hash="home/feedback" label="Send Feedback" icon="social:poll"></core-item>
			<core-item hash="home/help" label="Help" icon="help"></core-item>
			<core-item hash="home/logout" label="Sign Out" icon="home"></core-item>
		</template>
		<template if="{{!user.logged}}">
			<core-item hash="home/login" label="Login"></core-item>
			<core-item hash="home/register" label="Register"></core-item>
			<core-item hash="home/help" label="Help"></core-item>
	  	</template>
	</core-menu>

  </template>
  <script>
	Polymer('ct-sidebar-home', {

	});
  </script>
</polymer-element>